pandas==0.22.0
numpy==1.14.1
scikit-image==0.13.1
scikit-learn==0.19.1
h5py==2.7.1
-e git+https://github.com/AlliedToasters/PyCDA.git@2a5c85c4563cac3dfe0bd05c4b4866f3f7978e87#egg=pycda
tensorflow==1.12.1
Keras==2.1.5
